.addCarDisplay {
    /* top right bottom left */
    padding: 5px 20px 40px 20px;
    background-color: lightgray;
    margin: 30px 10px;
    border-radius: 10px;
}

.addCarInput {
    background-color: white;
    border-color: gray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.addCarButton {
    background-color: white;
    border-radius: 5px;
    border-color:gray;
}

.addCarButton:hover {
    background-color: lightgray;
}

.addCarButton:active {
    background-color: gray;
    color: white;
    font-weight: bold;
}