.outerCarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerCarContainer {
    background-color: lightgray;
    border-radius: 10px;
    display: inline-block;
    /* top right bottom left */
    padding: 45px 50px 45px 50px;
    margin: 50px;
}

.carHomepageHeader {
    text-align: center;
}

.carP {
    text-align: center;
}

.carImg {
    width: 1100px;
    height: 800px;
}

.carImgBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

